@model List<Api>

<h1 class="govuk-heading-xl">
    @ViewData["Title"]
</h1>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Name</dt>
        <dd class="govuk-summary-list__value">Description</dd>
    </div>

    @foreach (var api in Model)
    {

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                <a href="/apis/@api.Id">
                    @api.Name
                </a>

                @if (!string.IsNullOrEmpty(api.Version))
                {
                    <br />
                    <span class="badge">
                        @api.Version
                    </span>
                }
            </dt>
            <dd class="govuk-summary-list__value govuk-body-s">
                <p>@api.Description</p>
            </dd>
        </div>
    }
</dl>
