<footer role="contentinfo">
    <ul>
        <li>
            <a href="/Terms">Terms</a>            
        </li>
        <li>
            <a href="/Cookies">Cookies</a>
        </li>
        <li>
            <a href="/Accessibility">Accessibility</a>
        </li>
    </ul>
</footer>